.carousel-item {
    background-repeat: no-repeat;
    background-position: center center!important;
    background-size: cover;
    
}

.carousel-item-1 {
    background-image: url("./img/slide1.jpg");
}

.carousel-item-2 {
    background-image: url("./img/slide2.jpg");
}

.carousel-item-3 {
    background-image: url("./img/slide3.jpg");
}

$carousel-control-color:  #F9CB37;